extends base.pug 
block content
    span #{errorMessage}
    form(method="POST")
        input(placeholder="Username", type="text", name="username", required)
        input(placeholder="Password", type="password", name="password")
        input(placeholder="Confirm Password", type="password", name="password2")
        input(value="Make a Account", type="submit")